# Игнорируем кэш компиляции Python
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Игнорируем файлы окружения с секретами и паролями
.env
.env.local
.env.*.local

# Игнорируем созданную базу данных (чтобы она не затиралась у других разработчиков)
backend/*.db
